<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donuts_app_oscarp">

    <!-- Permiso para usar internet (necesario para Flutter durante el desarrollo) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="donuts_app_oscarp"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Actividad principal (punto de inicio de la app) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Este filtro indica que esta actividad es la que se lanza al abrir la app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Tema normal que se usará cuando la app esté activa -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />

        <!-- Indica que Flutter usa la nueva forma de incrustar el motor -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
